<div class="profilePreview">
    <img src={{profilePictureUrl}}/>
    <ul>
        <li>{{firstName}} {{lastName}}</li>
        <li>Contact: {{emailaddress}}</li>
        <li>{{aboutMe</li>
    </ul>
    <a href="profile/{{id}}"><button>View Full Profile</button></a>
</div>