<nav class="navbar navbar-expand-lg navbar-light bg-light">
        {{#if auth}}
        {{> navigationAuthPartial }}
        {{else}}
        {{> navigationUnauthPartial }}
        {{/if}}
</nav>
<main>
<script src="/public/js/util.js"></script>
<div id="searchResultsPage">
    <div id="searchBar">
        {{> generalSearchPartial }}
    </div>
    
   

    {{#if auth}}
    <div id="filteredSearch">
        {{> filteredSearchPartial }}
    </div>
    <button type="submit" onclick="searchToggle()" id="filteredSearchReveal">Filtered Search</button>      
    {{else}}
        <button type="submit" onclick="document.location.href='/login'" id="loginRedirectSearch">Filtered Search</button>
    {{/if}}

    </div>
    <div id="searchResults">
        <ul>
        {{#if isFilter}}
            {{#each searchResults}}
                {{#if ../isUser}}
                    <li><a href="/company/joblisting/{{_id}}">{{jobTitle}}</a></li>
                {{else}} 
                    <li><a href="/user/resume/{{_id}}">{{description}}</a></li>
                {{/if}}
            {{/each}}
        {{else}}
            {{#each searchResults}}
                {{#if ../isUser}}
                    <li><a href="/profile/user/{{_id}}">{{name.fullName}}</a></li>
                {{else}} 
                    <li><a href="/profile/company/{{_id}}">{{companyName}}</a></li>
                {{/if}}
            {{/each}}
        {{/if}}
        </ul>   
    </div>
</div>
</main>
