<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{#if auth}}
        {{> navigationAuthPartial }}
    {{else}}
        {{> navigationUnauthPartial }}
    {{/if}}
</nav>
<main>
    <h1 class = "first">Sign Up</h1>
        <div class = "divForm">
            <form action="/signup" method="POST" class="signup-form">
            <label id = "form">
                Username:
                <br>
                <input type="text" id="username" name="username" placeholder="Username" value="{{signup.username}}" class="full-width-input"/>
                <span class="error-username" id="error-username"></span>
                <br>
                E-mail: 
                <br>
                <input type="email" id="email" name="email" placeholder="Email" value="{{signup.email}}" class="full-width-input"/>
                <span class="error-email" id="error-email"></span>
                {{!-- Password:
                <br>
                <input type="password" id="password" name="password" placeholder="Password" value="{{signup.password}}" class="full-width-input"/>
                <span class="error-password" id="error-password" ></span> 
                <br>
                Confirm Password:
                <br>
                <input type="password" id="reEnterPassword" name="reEnterPassword" placeholder="Confirm Password" value="{{signup.reEnterPassword}}" class="full-width-input"/>
                <span class="error-reEnterPassword" id="error-reEnterPassword" ></span> --}}
                <br>
                <br>
                <label class="container"> 
                <p>Sign up as</p>
                </label>
               
                <div>
                    <input type="radio" id="usertype" checked="checked" value="employee" name="usertype"> 
                    <label for="employee"> Employee </label>
                    
                </div>
 
                <div>
                    <input type="radio"  value="company" name="usertype"> 
                    <label for="company"> Company</label>
                </div>
            </label>
            
            <br>
            <br>
            <button class="btnSignUp" type="TO BE DECIDED">Sign Up</button></a>
            </form>
        </div>
        <script src="/public/js/login.js"></script>
</main>