<nav class="navbar navbar-expand-lg navbar-light bg-light">
        {{#if auth}}
        {{> navigationAuthPartial }}
        {{else}}
        {{> navigationUnauthPartial }}
        {{/if}}
</nav>
<div class="container" id="companyView" style= "font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img id="card-image-top" src="https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg" alt="Card Image cap"/>
                    <div class="card-body">
                        <h2 class="card-title d-flex justify-content-center" style="font-weight: bolder;">{{company.companyName}}</h2>
                        <h4 class="card-title d-flex justify-content-center" style="color: rgb(155, 155, 155); font-size: medium;">{{company.category}}</h4>
                        <h4 class="card-title d-flex justify-content-center" style="color: rgb(155, 155, 155); font-size: medium;">{{company.location}}</h4>
                        <p class="card-text d-flex justify-content-center">Located in Vasai Road Station's North Lanes.</p>
                        <a href="/logout" class="btn btn-outline-dark d-flex justify-content-center" role="button" aria-pressed="true">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Company Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="color: black;">
                            {{company.companyName}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Category</h6>
                        </div>
                        <div class="col-sm-9 text secondary">
                            {{company.category}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">HR Email</h6>
                        </div>
                        <div class="col-sm-9 text secondary">
                            {{company.hrEmail}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                {{#each company.jobDetails}}
                    {{#if this.jobStatus}}
                        <div class="content">
                            <div class="row">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="text-center card-box">
                                            <div class="member-card pt-3 pb-3">
                                                <div class="">
                                                    <h5>{{this.jobTitle}}</h5>
                                                    <p class="text-muted">{{this.jobLocation}} <span> |</span>{{company.companyName}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container" id="companyView">
    <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-start">
                <div class="row">
                <div class="col-md-6 mx-3">
                    <div class="row">
                    <div class="col-md-6">
                            <img id="blah" style="height: 150px; width: 150px;"
                                src="https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg"
                                alt="your image" />
                    </div>
                        <div class="col-md-6">
                        <div class="form-group">
                        <label for="Username" class="no-margin">User Name</label>
                        <p class="no-margin"><strong>User Name</strong></p>
                    </div>
                    <div class="form-group">
                        <label for="HrInputEmail1" class="no-margin">HR Email</label>
                        <p class="no-margin"><strong>youremail@email.com</strong></p>
                    </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-6 mx-3">
                    <div class="d-flex px-4 flex-column" id="workInformation">
                        <h4 class="text-left" for="profile">Company Information</h4>
                        <div class="form-group">
                                <label for="ConfirmPassword" class="no-margin">Company Name</label>
                                <p class="no-margin"><strong>Company Name</strong></p>
                            </div>
 <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Phone Number</label>
                            <p class="no-margin"><strong>1234567890</strong></p>
                        </div>
                         <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Category</label>
                            <p class="no-margin"><strong>Category</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Address</label>
                            <p class="no-margin">
                                <strong>178  Armory Road <br/>
                                KINGDOM CITY <br/>
                                    Missouri<br/>
                                    65262<br/>
                                </strong>
                            </p>
                        </div>
                        
                    </div>
                </div>
                    </div>
            </div>
            {{!-- Profile End --}}
                    <div class="col-sm-12 d-flex justify-content-between align-items-center">
                <h4 class="text-left py-4" for="profile">New Job</h4>

            </div>
        <div class="col-sm-12">
                    
<div class="row">
    <div class="col-md-6">
                    
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Job Title</label>
                            <p class="no-margin"><strong>Job Title</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Job Location</label>
                            <p class="no-margin"><strong>Job Location</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Job Category</label>
                            <p class="no-margin"><strong>Job Category</strong></p>
                        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Salary Min</label>
                            <p class="no-margin"><strong>Salary Min</strong></p>
                        </div>
            </div>
        <div class="col-md-6">
            <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Salary Max</label>
                            <p class="no-margin"><strong>Salary Max</strong></p>
                        </div>
            </div>
        </div>
                </div>
    <div class="col-md-6">
    <div class="form-group">
                        <label class="no-margin" for="ConfirmPassword">Job Description</label>
                        <p class="no-margin"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.</strong></p>
                    </div>
                        <div class="form-group">
                        <label class="no-margin" for="ConfirmPassword">Qualifications</label>
                        <p class="no-margin"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.</strong></p>
                    </div>
    </div>
    </div>
                </div>
      
           
            
        
       
    </div>
    </div>


<script src="/public/js/company.js"></script>